<div class="jumbotron">
    <h1>HappyMusic.WebAPI</h1>
    <p class="lead">HappyMusic.WebAPI is the Next API for all your music needs. it has been carellu crafted to meet the stringent demands of the Eleven Fifty Academ Blue Badge Challenge.</p>
    <p><a href="https://elevenfifty.instructure.com/courses/449/assignments/7078" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Get The Happy Music API</h2>
        <p>Happy Music API Download is available through GitHub just click the button.</p>
        <p><a class="btn btn-default" href="https://github.com/JimGulley40/HappyMusic.WebAPI">GitHub API &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check the Trello Board</h2>
        <p>Trello Was used as our Project/Tcket Management resource during this project view it by clicking.</p>
        <p><a class="btn btn-default" href="https://trello.com/b/ZYGAmQCe/music-app-blue-badge-challenge">Trello Board &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check out our Google Doc</h2>
        <p>This was used in the initial planning of the Project. We couldn't have started without getting a bit hectic with data.</p>
        <p><a class="btn btn-default" href="https://docs.google.com/spreadsheets/d/1sp65-SZqH7f_a67VP-kF2s9rJ7kDOkzDy7KSMEh8qKI/edit#gid=1800955100">Google Planning Doc &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get to Know Ashley</h2>
        <p>You can easily find Ashley's portfolio by Clicking this Button.</p>
        <p><a class="btn btn-default" href="https://ajbain.github.io/Portfolio/">Coder Ashley &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get to Know Jim</h2>
        <p>You can easily find Jim's portfolio by clicking this button.</p>
        <p><a class="btn btn-default" href="https://jimgulley40.github.io/Portfolio/">Coder Jim &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get to Know Yazid</h2>
        <p>You can easily find Yazid's portfolio by clicking this button.</p>
        <p><a class="btn btn-default" href="https://yazidlouda.github.io/Portfolio/">Coder Yazid &raquo;</a></p>
    </div>
</div>
